p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
div {
    font-size: 18px;
    line-height: 1.3em;
    vertical-align: top;
    margin-bottom: 1em;
    border-radius: 0.5em;
    /*padding: 1em;*/
    /* This insures everything up to the border
     * is included in the width */
    box-sizing: border-box;
}

div.ib {
    /* These are aesthetic styles. Red = bad */
    background: salmon;
    border: solid red 1px;
    /* Overrides default display (which would be block) */
    display: inline-block;
}

div.float-border {
    border: solid green 1px;
    margin: 1em;
    /* Floated for positioning */
    float: left;
    padding: 1em;
}

div.float {
    margin: 1em;
    /* Floated for positioning */
    float: left;
}

div.half {
    width: 50%;
}
